name: Lint (flake8)

on:
  push:
      branches: ["cw_8"]
  pull_request:
      branches: ["main"]

jobs:
  lint:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Setup Python:3.13
          uses: actions/setup-python@v4
          with:
              python-version: "3.13"

        - name: Install Flake8
          run: |
            python -m pip install --upgrade pip
            pip install flake8

        - name: Lint code
          run: flake8 . --exclude=migrations,venv,env,.venv

  test:
    runs-on: ubuntu-latest
    needs: lint

    services:
      db:
        image: postgres:16-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_USER: postgres
          POSTGRES_DB: test_db
          ALLOWED_HOSTS: '*'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python:3.13
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --no-cache-dir -r requirements.txt

      - name: Run migrations
        run: python manage.py migrate

      - name: Run tests
        run: python manage.py test


