name: Test

on:
  workflow_run:
    workflows: [Lint (flake8)]
    types: [completed]

jobs:
  test:
      if: ${{ github.event.workflow_run.conclusion == 'success' }}
      runs-on: ubuntu-latest

      services:
        db:
          image: postgres:16-alpine
          ports:
            - 5432:5432
          env:
            POSTGRES_PASSWORD: password
            POSTGRES_USER: postgres
            POSTGRES_DB: test_db

      steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Set up Python:3.13
          uses: actions/setup-python@v4
          with:
              python-version: "3.13"

        - name: Cache pip
          uses: actions/cache@v3
          with:
            path: ~/.cache/pip
            key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
            restore-keys: |
              ${{ runner.os }}-pip-

        - name: Install dependencies
          run: |
              python -m pip install --upgrade pip
              pip install --no-cache-dir -r requirements.txt

        - name: Run migrations
          run: python manage.py migrate

        - name: Run tests
          run: python manage.py test